/* OFFER */
.offer-main {
  background-color: #ebedee;
  height: 100vh;
}
.offer-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  height: 600px;
  margin: 0 auto;
}
.offer-product-image,
.offer-product-details {
  width: 45%;
  height: 100%;
}
.offer-product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.offer-product-details {
  background-color: #ffffff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.offer-price {
  font-size: 24px;
  line-height: 32px;
  color: #111;
  margin-bottom: 20px;
}
.offer-product-details ul li {
  display: flex;
}
.offer-product-details ul li span {
  flex: 1;
  text-transform: uppercase;
  font-size: 15px;
}
.offer-product-details ul li span:first-child {
  color: var(--grey-light);
}
.offer-product-details div:nth-of-type(2) {
  margin-top: 30px;
  padding: 30px 0;
  border-top: 1px solid #ededed;
}
.product-name {
  color: black;
  font-size: 18px;
  margin-bottom: 15px;
}
.offer-container .display-user {
  margin-top: 15px;
}
