/* OFFERS */
.offers-container,
.card-container .display-productinfos {
  display: flex;
}

.offers-container {
  flex-wrap: wrap;
}
.card-container,
.card-container .display-productinfos {
  flex-direction: column;
}
.card-container {
  width: calc(100% / 5 - (60px / 5));
  margin: 10px 0;
}
.card-container:not(:nth-child(5n)) {
  margin-right: 15px;
}
.card-container .display-productimg {
  height: 355px;
  width: 100%;
  margin-bottom: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.card-container .display-productimg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card-container .display-user,
.card-container .display-productinfos {
  padding: 10px 0;
}

.card-container .display-user {
  font-size: 13px;
  color: var(--grey-light);
}
.card-container .display-user img {
  height: 25px;
  width: 25px;
}
.card-container .display-productinfos {
  font-size: 14px;
  line-height: 16px;
  color: var(--grey-light);
}
.card-container .display-productinfos span:first-child {
  color: var(--grey-dark);
  font-size: 16px;
}
