/* HERO */
.home-hero {
  background-image: url("/hero.jpg");
  background-position: center 25%;
  background-size: cover;
}
.intro-hero {
  background-color: #fff;
  width: 360px;
  padding: 40px 25px;
  border-radius: 3px;
  font-size: 34px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 2px rgba(17, 17, 17, 0.24);
}
.intro-hero span {
  line-height: 40px;
}
.intro-hero button {
  margin-top: 30px;
  width: 187px;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}
