/* NAVIGATION */
.main-nav {
  background-color: #fff;
}
/* TopBar */
.topbar {
  border-bottom: 1px solid #efefef;
}
.topbar-logo {
  height: 30px;
}
.topbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.topbar .container div:nth-of-type(3) {
  display: flex;
}
.topbar .container div:nth-of-type(3) button {
  color: var(--turquoise);
  background-color: #ffffff;
}
.topbar .container div:nth-of-type(3) button:first-child {
  margin-right: 15px;
}
.topbar .search-container input {
  width: 590px;
  padding-left: 40px;
  background-color: #f5f6f7;
  border-radius: 5px;
  height: 37px;
  border: none;
  outline: none;
  color: var(--grey-standard);
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
}
.topbar .search-container input::placeholder {
  color: #bbbbbb;
}
.main-nav button {
  color: #ffffff;
  background-color: var(--turquoise);
  height: 30px;
}
/* Nav */
