/* NAVIGATION */
.main-nav {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
/** TopBar **/
.topbar {
  border-bottom: 1px solid #efefef;
}
.topbar-logo {
  height: 30px;
}
.topbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
/* input search */
.topbar .search-container {
  position: relative;
}
.topbar .search-container svg {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: var(--grey-light);
}
.topbar .search-container input {
  width: 590px;
  padding-left: 40px;
  background-color: #f5f6f7;
  border-radius: 5px;
  height: 37px;
  border: none;
  outline: none;
  color: var(--grey-standard);
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
}
.topbar .search-container input::placeholder {
  color: var(--grey-light);
}
/* buttons area */
.topbar .container div:nth-of-type(3) {
  display: flex;
}
.topbar .btn-signup {
  margin-right: 15px;
}

.topbar .btn-disconnect {
  background-color: var(--framboise);
  border-color: var(--framboise);
}

/** Nav **/
.nav {
  display: none;
}
