/* Other rules */
:root {
  --grey-pale: #e3e3e3;
  --grey-light: #b2b2b2;
  --grey-standard: #666666;
  --grey-dark: #333333;
  --turquoise: #37aeb7;
  --framboise: #c2175b;
  --green: #66d287;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 22px;
  color: var(--grey-standard);
  font-family: "Roboto Condensed", sans-serif;
}

.container {
  width: 80%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 20px 0;
}
main {
  margin-top: 57px; /* height header */
}
main .container {
  padding: 40px 0;
}
.margin-top-58 {
  margin-top: 58px;
}

a {
  text-decoration: none;
  color: inherit;
}
.link {
  color: var(--turquoise);
  font-size: 14px;
  text-align: center;
  text-decoration: underline;
}
.link:hover {
  color: #1a8188;
}
.warning {
  color: #ea603d;
  text-align: center;
  font-size: 14px;
  margin: 10px 0 20px;
}

h2 {
  color: black;
  font-size: 26px;
  text-align: center;
  margin: 15px 0 25px;
}
h3 {
}

h4 {
  font-size: 18px;
  color: black;
  line-height: 22px;
}
.legend {
  font-size: 13px;
  line-height: 16px;
  color: var(--grey-light);
}

input,
button,
textarea {
  font-family: "Roboto Condensed", sans-serif;
  outline: none;
}
input {
  padding: 10px;
  font-size: 15px;
  border: none;
  border-bottom: 1px solid var(--grey-pale);
}

input::placeholder,
textarea::placeholder {
  color: var(--grey-light);
}
button {
  border: 1px solid var(--turquoise);
  background-color: var(--turquoise);
  color: #ffffff;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}
.btn-small {
  padding: 4px 20px;
  font-size: 13px;
  min-width: 110px;
}
.btn-inverted {
  background-color: #ffffff;
  color: var(--turquoise);
}
.checkbox-design {
  border-radius: 3px;
  padding: 2px 11px;
  margin: 0 15px 0 0;
  border: 1px solid #000;
}
.checkbox-design-checked {
  border-radius: 3px;
  padding: 3px 6px;
  margin: 0 15px 0 0;
  background-color: #0ab1ba;
}

/* HERO */
.home-hero {
  margin-top: 58px; /* hauteur nav */
  height: 65vh;
  min-height: 400px;
  display: flex;
  align-items: center;
}

/* SIGNUP & LOGIN */
form {
  display: flex;
  flex-direction: column;
  width: 275px;
  margin: 0 auto;
}

form input {
  margin: 10px 0;
}
form input[type="checkbox"] {
  margin-right: 5px;
  padding: 5px;
}
form button {
  margin: 20px 0;
}
.rgpd-signup {
  margin: 15px 0 20px;
}

/* PUBLISH */
.publish-main {
  background-color: #ebedee;
}
.publish-main h2 {
  text-align: left;
}

/* Formulaire */
.publish-form {
  width: 100%;
}
.publish-form section {
  background-color: #ffffff;
  width: 100%;
  margin-bottom: 15px;
  box-shadow: 0 0 2px grey;
}
.publish-form section div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}

.publish-form .file-upload {
  padding: 20px;
}
.publish-form .file-upload div {
  border: 1px dashed var(--grey-pale);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  flex-direction: column;
  position: relative;
}
.publish-form .file-upload .file-label {
  border: 1px solid var(--turquoise);
  padding: 10px;
  border-radius: 5px;
  color: var(--turquoise);
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
.publish-form .file-upload .file-label:hover {
  box-shadow: 0px 2px 5px rgb(222, 222, 222, 1);
  transform: translateY(-5px);
}
.publish-form .file-upload .file-label span {
  margin-left: 8px;
}
.publish-form .file-upload p {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--grey-standard);
}
.publish-form .file-upload input {
  display: none;
}

.publish-form section > div:not(:nth-of-type(1)) {
  border-top: 1px solid var(--grey-pale);
}
.publish-form input,
.publish-form textarea {
  width: 50%;
  margin: 0;
  border-bottom: 1px solid var(--grey-pale);
}
.publish-form input:focus,
.publish-form textarea:focus {
  border-bottom: 1px solid var(--turquoise);
}
.publish-form textarea {
  resize: none;
  border: none;
  font-size: 15px;
  border-bottom: 1px solid var(--grey-pale);
}
.publish-form textarea::placeholder {
  color: var(--grey-light);
}
.publish-form .checkbox-section {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.publish-form .checkbox-section div {
  padding: 20px 0;
}
.publish-form .checkbox-section div input {
  width: initial;
  margin-right: 10px;
}
.publish-form button {
  width: 100px;
}
.publish-form > div:last-child {
  text-align: right;
}

/* COMPONENT DISPLAY USER */
.display-user {
  font-size: 16px;
  display: flex;
  align-items: center;
  color: black;
}
.display-user img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}
/* SELECT INPUT */
.select-input {
  border: none;
  margin-left: 10px;
  padding: 5px;
  border-bottom: 1px solid var(--grey-pale);
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  color: var(--turquoise);
  outline: none;
}

/* BTN PAGE */
.pages-container {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
.pages-container div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid var(--grey-pale);
  cursor: pointer;
}
.current-page {
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15);
}

.pages-container div:not(:last-child) {
  margin-right: 10px;
}

/* COMPONENT PAYMENT PAGE */
.payment-container {
  width: 50%;
  background-color: #ffffff;
  margin: 0 auto;
  border-radius: 5px;
}
.payment-container .order-header {
  padding: 20px 30px;
  border-bottom: 1px solid var(--grey-pale);
}
.payment-container h2 {
  text-align: left;
  font-size: 18px;
  color: var(--grey-standard);
}

.payment-container p {
  margin-top: 5px;
  color: black;
}
.payment-container .order-header div:nth-of-type(1) p {
  font-size: 25px;
  line-height: 29px;
}
.payment-container .order-header > div {
  margin-bottom: 15px;
}

.payment-container .pricing p:nth-of-type(1) {
  color: var(--grey-standard);
}
.payment-container .pricing {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0 !important;
}

/* footer  */
.order-total {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.payment-container .order-footer {
  padding-bottom: 20px;
}
.payment-container .order-footer > div:nth-of-type(1) {
  padding: 20px 30px 30px;
}
.payment-container .order-footer > div:nth-of-type(1) > p:last-child {
  border-bottom: 1px solid var(--grey-pale);
  padding-bottom: 20px;
}
.payment-container .order-footer > div > span {
  margin-top: 15px;
  font-size: 14px;
  line-height: 17px;
  display: block;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--grey-pale);
}
.checkout-form button {
  border: 1px solid var(--green);
  background-color: var(--green);
}

/**/
.checkout-succeed {
  margin-bottom: 10px;
  text-align: center;
}
.checkout-succeed div {
  color: var(--green);
  margin-bottom: 15px;
  font-size: 18px;
}
.checkout-succeed div span {
  margin-left: 10px;
}
